@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 1px;
}
body{
    font-family: "Merriweather", serif;
}
section{
    min-height: 100vh;
    padding: 2rem 0;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.sec-main{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("./images/main-sec-bg.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-btn{
    padding: 0.8rem 0.2rem;
    width: 11rem;
    background: #ffffff;
    color: #5e4336;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.8s ease !important;
}
.main-btn:hover{
    background: #5e4336;
    color: #ffffff;
}
.content-part-visual-image{
    background: url("images/sec-welcome-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: inherit;
}
.room-box-visual-image{

    width: inherit;
    height: inherit;
}
.promo-box-visual-image{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.luxe-room{
    background: url("images/de-luxe-room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.luxe-sea-view-room{
    background: url("images/de-luxe-sea-view.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.family-room{
    background: url("images/family-room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-family-first-part-image{
    background: url("images/family-room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dining-area-image{
    background: url("images/s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.tv-room-image {
    background: url("images/tv-room-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}